/**
 * Copyright 2007-2011, TuiBX
 * Designed by: TuiBX
 */
* {
  margin: 0;
  padding: 0;
  margin: 0 auto 0 auto;
}

body {
  color: #000000;
  background-color: #ffffff;
  font-family: Verdana, Arial, Sans-Serif;
}

a, a:hover {
  color: blue;
  text-decoration: none;
}

.tennam, .tenthang, .ngaytuan, .ngaytuant7, .ngaytuancn, .navi-l, .navi-r {
  font-size: 1.2em;
  text-align: center;
  background-color: #f0f0ff;
}

.ngaytuan, .ngaytuant7, .ngaytuancn {
  width: 2.32em;
}

.ngaythang {
  background-color: #ffffff;
}

.homnay {
  background-color: #ffe87c;
}

.tet {
  background-color: #ff8888;
}

.ngaythang:hover, .homnay:hover, .tet:hover {
  background-color: #c3fdb8;
}

.am, .am2 {
  color: blue;
  text-align: right;
  padding: 0 0.1em 0 0;
}

.t2t6, .t7, .cn {
  font-size: 1.2em;
  text-align: left;
  padding: 0 0 0.4em 0.1em;
}

.t7, .ngaytuant7 {
  color: green;
}

.cn, .ngaytuancn {
  color: red;
}

.tenthang {
  font-weight: bold;
}

.thang, .am, .am2 {
  font-size: 0.8em;
}

#content table {
  border-width: 0;
  border-collapse: collapse;
}

#content th {
  font-weight: bold;
}

#content th, #content td {
  text-align: center;
  border: 1px solid #cccccc;
}
